# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
flutter_*.png
.dart_tool/

# Android
/android/key.properties
